.container {
  background-color: #393d55;
  border-radius: 10px;
  padding: 0.5rem;
  transition: .2s;
  cursor: pointer;
}

.image {
  width: 60%;
}

.paragraph {
  font-size: 0.8rem;
}

@media(min-width: 768px) {
  .paragraph {
    font-size: 1rem;
  }

  .container:hover {
    transform: scale(1.04);
  }
}